<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Application</title>
  <style>
      .hide{
      display:none;
    }
    .show{
      display:block;
    }
    tr{
      text-align:center;
    }
  </style>
</head>
<body>
  <div class="container">
      <div class="mt-4 title">
        <h1 class="text-center">Todo List</h1>
      </div>
      <!-- form container -->
          <%= form_for @conn, Routes.page_path(@conn, :save),[class: "form hide my-4",id: "addTaskForm"], fn f -> %>
              <div class="form-group mb-3" >
                <div class="form-group">
                    <label class="my-2">Title</label>
                    <%= text_input f, :title, class: "form-control", id: "titleinput", placeholder: "Enter the title"%>
                  </div>
                  <div class="form-group">
                    <label  class="my-2">Description</label>
                    <%= text_input f, :description, class: "form-control",id: "descriptioninput", placeholder: "Enter the Description"%>
                  </div>
                  <div class="form-group">
                    <label class="my-2">Priority</label>
                    <%= text_input f, :priority, class: "form-control",id: "priorityinput", placeholder: "Enter the Priority"%>
                  </div>
                <%= submit "Submit",id: "submitForm", class: " my-2 button btn btn-success" %>
              </div>
          <% end %>
  <div class="hide " id="form" >
      <form action="/update"  method="POST">
          <input type="hidden" name="id" id="id" >
          <label>Title</label>
          <input type="text"  name="title" id="titleupdate" class="form-control mb-4" placeholder="Enter the title">
          <label>Description</label>
          <input type="text"  name="description" id="descriptionupdate" class="form-control mb-4" placeholder="Enter the description">
          <input type="submit" value="done" class="btn btn-primary">
      </form>
  </div>
      <!-- task container -->
      <div class="card w-55 align-center" style="margin:0 auto; width:55vw">
          <div class="card-header p-3">
            <h5 class="mb-0">

             <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
   <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
</svg>
            Task List</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height:400px">

            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Task Title</th>
                  <th scope="col">Task Description</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                    <%= for %{description: desc, title: title,priority: priority, id: id} <- @get do %>
                <tr class="fw-normal">
                  <td class="align-middle">
                    <span><%=title%></span>
                  </td>

                  <td class="align-middle">
                    <span><%=desc%></span>
                  </td>

                  <td class="align-middle">
<!--<%= case priority == "high" do %>
    <% true  when priority == "high"  -> %>  <h1 class="badge bg-danger"><%= priority %></h1>
    <% false  when priority == "medium" -> %> <h1 class="badge bg-warning"><%= priority %></h1>
<% _ -> %><h1 class="badge bg-success"><%= priority %></h1>
<% end %>-->
<%# <%= p = String.downcase(priority) %>
                    <%= case String.downcase(priority)  do %>
                      <% "high"-> %>  <h1 class="badge bg-danger"><%= priority %></h1>
                      <% "medium" -> %> <h1 class="badge bg-warning"><%= priority %></h1>
                      <% _ -> %><h1 class="badge bg-success"><%= priority %></h1>
                    <% end %>
                  </td>
                  <td class="align-middle d-flex justify-content-around">
                     <%= form_for @conn, Routes.page_path(@conn, :delete),[method: :POST], fn _f -> %>
                                <input type="hidden" name="id" value={id}>
                                <input type="submit" class="btn btn-danger" value="delete">
                        <% end %>
                               <form action="/update" method="POST" id="Edit_old">
                                    <input type="hidden" name="id" value={id}>
                                    <input id="random_id" type="hidden" name="title" value={title}>
                                    <input id="description" type="hidden" name="description" value={desc}>
                                    <input type="button" class="btn btn-primary" id={inspect(id)} value="edit" onclick="edit(this)">
                                </form>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>

          </div>
          <div class="card-footer text-end p-3">
            <%# <button onclick="window.location.href='/todo'" >Read</button> %>
            <button class="btn btn-primary" id="addTask">Add Task</button>
          </div>
        </div>
  </div>
  <script>
      let addTask = document.getElementById("addTask");
      let addTaskForm = document.getElementById("addTaskForm")
      let submitForm = document.getElementById("submitForm")
      let titleInput = document.getElementById("titleinput");
      let descriptionInput = document.getElementById("descriptioninput");

      let priorityInput = document.getElementById("priorityinput");

      let updateform = document.getElementById("form")
      let id = document.getElementById("id");
      let titleupdate = document.getElementById("titleupdate");
      let descriptionupdate = document.getElementById("descriptionupdate")
            addTask.addEventListener('click',()=>{
        addTaskForm.classList.toggle("show");
        updateform.classList.remove("show");

      })
      function edit(el){
        id.value =el.id;
        titleupdate.value =document.getElementById("random_id").value ;
        descriptionupdate.value =document.getElementById("description").value ;

        addTaskForm.classList.remove("show");
        updateform.classList.toggle("show");
      }
  </script>
</body>
</html>
